<!DOCTYPE html>
<head>
    <title> Perfil de Usuario </title>
</head>
    <body>
        <fieldset>
            <textarea></textarea>
            <h3>  ⇑ (El textarea es la imagen)  </h3>
                    <fieldset>
                        <h1> Nombre del restaurante</h1>
                    </fieldset>
                <br />
                    <fieldset>
                        <h4> Descripcion del restaurante </h4>
                    </fieldset>
                <br />
                    <fieldset>
                        <h3> Links, imagenes e email del negocio </h3>
                    </fieldset>
                <br />
                    <fieldset>
                        <h4> Espacio para asignar estrellas </h4>
                    </fieldset>
                <br />
                    <fieldset>
                        <h2> Seccion de Comentarios</h2>
                    </fieldset>


        </fieldset>

    </body>